<Properties>
    <M2_HOME>/usr/share/maven</M2_HOME>
    <GITHUB_USERNAME>dependencyUpdater</GITHUB_USERNAME>
    <GITHUB_PASSWORD>updateDependencies</GITHUB_PASSWORD>
    <MYSQL_USERNAME>root</MYSQL_USERNAME>
    <MYSQL_PASSWORD></MYSQL_PASSWORD>
    <DEPENDENCY_VERSION_MICRO_SERVICE_URL>http://localhost:9094/aethermicroservice/</DEPENDENCY_VERSION_MICRO_SERVICE_URL>
    <MYSQL_DATABASE_URL>jdbc:mysql://127.0.0.1:3308</MYSQL_DATABASE_URL>
    <MYSQL_DATABASE_NAME>DependencyUpdateDB</MYSQL_DATABASE_NAME>
    <ROOT_PATH>/home/dimuth/Documents/DM-Root/</ROOT_PATH>>
</Properties>
